*{
    font-family: 'roboto';
    box-sizing: border-box;
}

.login-header{
    color: #3F3D56;
    font-weight: 700;
    font-size: 37px;
    text-align: center;
    margin-bottom: 31px;
    margin-top: 69px;
}


label{
    color: #323730;
    font-size: 14px;
    font-weight: 400;
    text-align: left;

}

.input{
    border: 1px solid #ABB3A8;
    box-sizing: border-box;
    Width: 515px;
    Height: 47px;
}

.login{
    width: 514px;
    height: 47px;
    box-sizing: border-box;
    border: none;
    color: white;
    background-color: #3F3D56;
    font-weight: 500;
    font-size: 16px;
    align-items: center;
    text-align: center;

}

.email-margin{
    margin-bottom: 6px;
    padding-right: 475px;
}

.margin--email{
    margin-bottom: 39px;
}

.stay-connected{
    margin-top: 27px;
    margin-bottom: 31px;
    font-size: 14px;
}

.buttom{
    margin-bottom: 32px;
}

a{
    color:#1DB9E0;
    ;
}

.margin-miss{
    margin-left: 199px;
}

.margin-span{
    margin-left: 10px;
}

.box{
    align-items: center;
    justify-content: center;
    text-align: center;
}