@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

$firstfont: 'Inter', sans-serif;

$red: #FF5959;
$white: #FFFFFF;
$green: #52DF68;
$grey:#343434;
$background: #4e4d4d;
$lightgrey: #969696;
$black: #292626


