*{  
    font-family: 'Roboto';
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    color: #3F3D56;
    font-size: 37px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 22px;

    animation-name: Titulo-animation;
    animation-duration: 3s;
    animation-iteration-count: 3;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

.box-space{
    margin-left: 20px;
}

.nome{
font-family: 'Roboto';
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px;
border-bottom: 4px;
}

.Label-style{
height: 47px;
width: 396px;
top: 22px;
margin-bottom: 24px;
border: 1px solid black;

animation-name: button-animation;
animation-duration: 3s;
animation-iteration-count: 3;
animation-direction: alternate;
}

.Label1{
height: 47px;
width: 170px;
left: 522px;
top: 259px;
margin-bottom: 22px;
}

.button-submit{
height: 47px;
width: 396px;
border-radius: 5px;
background-color:#3F3D56;
color: white;
border: none;
margin-top: 28px;
margin-bottom: 28px;
padding: 0px;
cursor: pointer;
border: 1px solid black;
transition: 300ms;

animation-name: button-animation;
animation-duration: 3s;
animation-timing-function: linear;
animation-iteration-count: infinite;
animation-direction: alternate;

}

.button-submit:hover{
    background-color: white;
    color: #3F3D56;
    border: 1px solid black;
}

.button-submit2{
    height: 47px;
    width: 396px;
    border-radius: 5px;
    background-color:#3F3D56;
    color: white;
    border: none;
    margin-bottom: 25px;
    padding: 0px;
    }

.terms{
justify-content: center;
align-items: center;
font-family:'Roboto';
font-size: 14px;
font-weight: 400;
line-height: 18px;
}

.date{
    float: left;
}

.Label-style1{
    height: 47px;
width: 208px;
top: 22px;
margin-left: 18px;
}

.name-space{
    margin-left: 18px;
}

.gender-box{
    margin-bottom: 23px;
    margin-top: 9px;
}

.gender-select{
    width: 35px;
    justify-content: space-between;
}

.nada{

    text-align: center;
    align-items: center;
    justify-content: center;
}

@keyframes button-animation {
    
    0% {
       border: 1px solid #3F3D56;
    }

    50% {
        border: 1px solid white;
    }

    100% {
        border: 1px solid white;
    }
}

@keyframes Titulo-animation {

    30% {
        color: #3F3D56;
        letter-spacing: 30px;
    }

    60% {
        color: #3F3D56;
        letter-spacing: 20px; 
    }

    75%{
        color: #3F3D56;
        letter-spacing: 10px;
    }

}
