*{  
    font-family: 'Roboto';
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    color: #3F3D56;
    font-size: 37px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 22px;
}

.box-space{
    margin-left: 20px;
}

.nome{
font-family: 'Roboto';
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px;
border-bottom: 4px;
}

.Label-style{
height: 47px;
width: 396px;
top: 22px;
margin-bottom: 24px;
}

.Label1{
height: 47px;
width: 170px;
left: 522px;
top: 259px;
margin-bottom: 22px;
}

.button-submit{
height: 47px;
width: 396px;
border-radius: 5px;
background-color:#3F3D56;
color: white;
border: none;
margin-top: 28px;
margin-bottom: 28px;
padding: 0px;
}

.button-submit2{
    height: 47px;
    width: 396px;
    border-radius: 5px;
    background-color:#3F3D56;
    color: white;
    border: none;
    margin-bottom: 25px;
    padding: 0px;
    }

.terms{
justify-content: center;
align-items: center;
font-family:'Roboto';
font-size: 14px;
font-weight: 400;
line-height: 18px;
}

.date{
    float: left;
}

.Label-style1{
    height: 47px;
width: 208px;
top: 22px;
margin-left: 18px;
}

.name-space{
    margin-left: 18px;
}

.gender-box{
    margin-bottom: 23px;
    margin-top: 9px;
}

.gender-select{
    width: 35px;
    justify-content: space-between;
}

.nada{

    text-align: center;
    align-items: center;
    justify-content: center;
}