@import './css/_reset.scss';


.calculator{
    border-radius: 40px;
    width: 390px;
    background-color: $black;
    margin: auto;

    &__display{
        width: 47vh;
    }
    
    &__display-input{
        background: transparent;
        border: 0;
        outline: transparent;
        color: white;
        font-size: 48px;
        font-weight: 400;
        line-height: 16px;
        margin-bottom: 88px;
        width: 39vh;
        margin-top: 25px;
        text-align: right;
        padding-right: 10px;
    }

    &__display-result{
        color: $lightgrey;
        width: 39vh;
        font-family: 'Inter';
        font-size: 48px;
        font-weight: 400;
        line-height: 16px;
        margin-bottom: 20px;
        text-align: right;
        margin-right: 10px;
    }

    &__callback{
        margin-bottom: 20px;
        margin-left: 10px;
    }

    &__line{
        display: flex;
        border: 1px solid $lightgrey;
        align-items: center;
        justify-content: center;
        margin-bottom: 25px;
    }

    &__buttons-wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 19px;
    }

    &__buttons-row{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 20px;
        transition: 300ms;
    }
    
    &__button--buttons{
        height: 75px;
        width: 73px;
        border-radius: 9px;
        font-size: 35px;
        background-color: $grey;
        color: white;
        border: none;
        font-style: 400;
        cursor: pointer;
        transition: 300ms;
    }

    &__line-big{
        height: 5px;
        width: 135px;
        border-radius: 100px;
        background-color: $lightgrey;
        margin-bottom: 13px;
        margin-top: 4px;

    }
    &__button--buttons:hover{
        color: white;
        background-color: $black;
    }

    &__button--background-red{
        background-color: $red;
    }
    &__button--background-red:hover{
        background-color: $black;
        color: white ;
    }

    &__button--color-green{
        color: $green;
    }

    &__button-background-green{
        background-color: $green;
    }
    &__button-background-green:hover{
        background-color: $white;
        color: black;
    }

}

